*{
    font-family: sans-serif;
    background: #292929;
    color: white;
}

.header{
    text-align: center;
}

.button{
    text-align: center;
    margin: auto;
}

.nameHeader{
    margin-top: 0;
    padding-top: 0;
    font-size: 34pt;
}

.clock{
    font-size: xxx-large;
}

.variantHeader{
    line-height: 0;
    border-bottom: solid 2px white;
    padding-bottom: 40px;
}

img{
    width: 300px;
    height: 300px;
    margin-left: 1px;
    margin-top: 1px;

}

.frame{
    width: 302px;
    height: 302px;
    background: lavender;
    margin: auto;
    padding: 1px 1px;
    border: 3px solid #ccc;
}

input{
    background: #b963c8;
    accent-color: #b963c8;
    font-size: 15pt;
}

input[type=text]{

}

select{
    background: #b963c8;
    font-size: 15pt;
}

.input{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 15pt;
}

.xfield{
    margin-top: 10px;
    /*margin-bottom: 50px;*/
    /*padding: 10px;*/
}

.inputBlock{
    margin: 15px;
}

.warning{
    display: block;
    margin-bottom: 20px;
    /*margin-top: -30px;*/
}

.xandfield{
    /*margin-bottom: 30px;*/
    padding-bottom: 20px;
}

.checkboxes{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    word-wrap: break-word;
}

.tabl{
    font-size: 18pt;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.rDiv{
    text-align: center;
    padding: 10px;
    width: 300px;
    justify-content: center;
    margin: auto;
    outline: 2px solid white;
}

th{
    padding-left : 20px;
    padding-right: 20px;
}
.hit{
    color: palegreen;
}

.miss{
    color: orangered;
}

input[type=submit]:disabled{
    background-color: #71378a;
}
